.father {
    display: flex;
    justify-content: center;
}
.one {
    background: #148c71;
    width: 500px;
    height: 200px;
    border-radius: 3px;
}
.one > h1 {
    color: aliceblue;
    font-family: cursive;
    font-size: 30px;
    display: flex;
    justify-content: center;
    padding-top: 50px;
}
.mother {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}
.two {
    background: #148c71;
    width: 150px;
    height: 200px;
    border-radius: 3px;
    display: flex;
    justify-content: center;

}
.two > h2 {
    color: aliceblue;
    font-family: cursive;
    font-size: 15px;
    padding-top: 75px;
}

.three {
    background: #148c71;
    width: 150px;
    height: 200px;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    margin-left: 25px;
    margin-right: 25px;
}
.three > h2 {
    color: aliceblue;
    font-family: cursive;
    font-size: 15px;
    padding-top: 75px;
}
.four  {
    background: #148c71;
    width: 150px;
    height: 200px;
    border-radius: 3px;
    display: flex;
    justify-content: center;

}
.four > h2 {
    color: aliceblue;
    font-family: cursive;
    font-size: 15px;
    display: flex;
    padding-top: 75px;
}
.sister {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}
.five {
    background: #148c71;
    width: 500px;
    height: 300px;
    border-radius: 3px;
}
.five > h3 {
    color: aliceblue;
    font-family: cursive;
    font-size: 30px;
    display: flex;
    justify-content: center;
    padding-top: 100px;
}